* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  overflow: hidden;
}

body {
  height: 100vh;
  background: var(--background);
  overflow: hidden;
}

.hidden {
  display: none;
}
