:root {
  --background: linear-gradient(
    90deg,
    rgba(255, 235, 190, 1) 0%,
    rgba(161, 255, 157, 1) 50%,
    rgba(249, 216, 149, 1) 100%
  );
  --blue: rgb(133, 248, 242);
  --orange: rgb(255, 215, 142);
  --dark: rgb(21, 24, 24);
  --light: rgb(249, 255, 255);
}
